/* =====MAIN PAGE===== */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
}

.main{
    background-color: white;
    height: 92.5vh;
}

/* =====TITLE OF PAGE===== */

.title_signup{
    margin: 40px auto;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: black;
    /* color: #008080; */
}

/* =====FORM===== */

.signup_page{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 60px;
    margin: 30px auto;
    /* background-color: #c91757; */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

/* ---NAME--- */

.name_label_signup{
    font-size: large;
    padding: 10px;
    padding-left: 75px;
    font-weight: 500;
    width: 80%;
    height: 75px;
}

.name_input_signup{
    width: 105%;
    height: 35px;
    margin-top: 10px;
    border-radius: 6px;
    border-style: none;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

/* ---EMAIL--- */

.email_label_signup{
    font-size: large;
    padding: 10px;
    padding-left: 58px;
    font-weight: 500;
    width: 80%;
    height: 75px;
    margin: 20px;
}

.email_input_signup{
    width: 97%;
    height: 35px;
    margin-top: 10px;
    border-radius: 6px;
    border-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

/* ---PASSWORD--- */

.password_label_signup{
    font-size: large;
    padding: 10px;
    padding-left: 58px;
    font-weight: 500;
    height: 75px;
    display: flex;
    flex-direction: column;   
    margin: 20px;
}

.password_input_signup{
    width: 87%;
    height: 35px;
    margin-top: 10px;
    border-radius: 6px;
    border-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

/* ---ZIPCODE--- */

.zipcode_label_signup{
    font-size: large;
    padding-left: 58px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.zipcode_input_signup{
    width: 85%;
    height: 35px;
    margin-top: 10px;
    border-radius: 6px;
    border-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

/* ---BUTTON--- */

.submit_signup{
    width: 66%;
    margin: 0 auto;
    margin-left: 70px;
    margin-bottom: 15px;
    border-radius: 5px;
    color: white;
    height: 40px;
    /* background-color: #008080; */
    background-color: #c91757;
    border-style: none;
    font-weight: 600; 
    font-size: large;
}

/* ---LINK--- */

.no_account_signup{
    margin: 0 auto;
    margin-bottom: 20px;
    width: max-content;
    font-weight: bold;
    color: lavender;
    color: #777;
    text-decoration: none;
  }

/* =====PLACEHOLDER TEXT===== */

  input[type=text], select {
    padding: 12px 10px;
  }

  input[type=password], select{
    padding: 12px 10px;
  }

  input[type=number], select{
    padding: 12px 10px;
  }